<html>
  <head>
    <title>Feeds</title>
  </head>

  <body>
    <h1>Feeds</h1>

    <ul>
    {{ range .Feeds }}
    <li>
      {{ .Name }} - <tt>{{.Key.Encode}}</tt>
      <ul>
        <li>push url: <tt>http://{{$.Hostname}}/q/push/{{.Key.Encode}}</tt></li>
        <li>auth: <tt>{{.Auth}}</tt> <a href="/feeds/rekey/{{.Key.Encode}}">[renew]</a></li>
      </ul>
    </li>
    {{ end }}
    </ul>

    <h1>New Feed</h1>
    <form method="POST" action="/feeds/new">
      <input type="text" name="name" /> <input type="submit" />
    </form>
  </body>
</html>
